<header class="header">
    <nav class="nav">
        <ul class="menu">
            <a class="link-decoration" href="#"><li class="menu-item">Home</li></a>
            <a class="link-decoration" href="#"><li class="menu-item">Portfolio</li></a>
            <a class="link-decoration" href="#"><li class="menu-item">Blog</li></a>
            <a class="link-decoration" href="assets/resume.pdf" target="_blank"><li class="menu-item">Resume</li></a>
        </ul>
        <hr>
        <img src="assets/sol.png" alt="Light-mode" class="sun">
    </nav>
</header>